
.row{
    background-color: thistle;
}

.col-md-4 {
    padding: 2rem;
}

 div p {
    text-align:left;
    margin-left:30%;
}

.hkk {
    margin-left:28%;
}

@media  screen and (max-width:778px) {

    div p {
        text-align:left;
        margin-left:auto;
    }
    
    .hkk {
        margin-left:auto;
    }

    .col-md-4 {
        margin-left:auto;
    }
    
}